body{
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-size: 16px; /*18px*/
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 22px;
	background-color:#849d8f;
	color: #ffffff;
	position: relative;
	/* Для демонстрации */
  	min-height: 100vh; 
  	margin: 0;
	/*url(../img/ice-1.png) center top no-repeat #849d8f;*/
	
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
    /* Временно для сетки   	background-image: url('../img/index/temporariry-index-1200.jpg');
  	background-repeat: no-repeat;
  	 background-size: 1200px auto;
  	background-position: top center;
  	background-repeat: no-repeat;*/
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a{
	text-decoration: none;
	color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.button{
	color: #ffffff;
	padding-top: ;
	padding-bottom:; 
	border: 0;
}


/*header*/
.main-header-flex{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	flex-wrap: wrap;
}

.header-navigations-flex{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.logo{
	width: 154px;
}

.main-menu{
	margin-left: 9px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

/*.main-menu-list{
	list-style: none;
	margin: 0;
	padding: 0;
}*/

.main-menu-list li{
	display: inline-block;
	margin-right: 30px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}


.main-menu-list li:last-child{
	margin-right: 0px;
}

.main-menu a{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700px;
	border-bottom: 1px solid rgba(255,255,255,.2);
}



/*submenu*/
.main-menu-list {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-wrap: wrap;
 	padding: 0;
}

.main-menu-list > li {
	display: inline-block;
 	position: relative;
	padding-bottom: 10px;
	list-style: none;
	margin: 0;
}

.main-menu-list > li > a {
 	display: block;
 	padding: 7px 14px;
 	border-radius: 15px;
 	border: none;
}

.main-menu-list > li > a[href]::after {
 	content: "";
 	display: block;
 	height: 1px;
 	background-color: rgba(255, 255, 255, 0.2);
}

.main-menu-list > li:hover > a,
.main-menu-list > li:focus > a {
 	background-color: #f7f6f3;
 	color: #333333;
}

.main-menu-list > li > a:active {
 	background-color: #ededed;
 	-webkit-box-shadow: inset 0 2px 1px #696969;
 	box-shadow: inset 0 2px 1px #696969;
}

.main-menu-list a:not([href]) {
 	background-color: #d07058;
 	cursor: pointer;
}

.sub-menu {
	width: 145px;
	list-style: none;
	position: absolute;
	top: 40px;
	left: -5px;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	display: none;
	z-index: 10;
	margin: 0;
	padding: 0;
}

.main-menu-list > li:hover .sub-menu {
	display: block; 
}

.sub-menu li a {
	display: block;
	white-space: nowrap;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 10px 20px;
	color: #323232;
	text-decoration: none;
}

.sub-menu li:first-of-type {
 	position: relative;
}

.sub-menu li:first-of-type::after {
	position: absolute;
	content: "";
	display: block;
	right: 6px;
	left: 6px;
	height: 1px;
	background-color: rgba(53, 53, 53, 0.2);
}

.sub-menu a:hover,
.sub-menu a:focus {
 	background-color: #fbded7;
}

.sub-menu li:first-of-type a:hover,
.sub-menu li:first-of-type a:focus {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sub-menu li:last-of-type a:hover,
.sub-menu li:last-of-type a:focus {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sub-menu a:active {
 	background-color: #f6b5a5;
}

.sub-menu li:first-of-type a:active {
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
}

.sub-menu li:last-of-type a:active {
 	border-bottom-left-radius: 5px;
 	border-bottom-right-radius: 5px;
}

.sub-menu a:not([href]) {
 	background-color: #d07058;
 	color: #ffffff;
}


/*user navigation*/
.user-menu{
	margin-left: auto;
	position: relative;
	z-index: 0;
}

.user-menu-list{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding:0;
}


.user-menu-list .btn{
	display: inline-block;
	margin-left:9px;
	background-color: #a2b8ac;
	-moz-border-radius:  15px; /* Firefox */
	-webkit-border-radius:  15px; /* Safari 4 */
	border-radius: 17px; /* IE 9, Safari 5, Chrome */
	max-height: 33px;
}

.user-menu-list .btn:first-child{
	margin-left:0px;
}

/*users button*/
.btn a:hover,
.btn:hover{
	background-color: #f8f7f4;
	color: #373737;
}


.search{
	display: block;
	width: 33px;
	height: 33px;
	font-size: 0;
	background-image: url("..//img/svg-gllacy/loupe.svg");
	background-position: center ;
	background-repeat: no-repeat;
    padding: 8px;
    box-sizing: border-box;
}

.login,
.basket{
    position: relative;
    font-size: 14px;
    line-height: 16px;
}

.login a,
.basket a{
	display: block;
    font-weight: 500;
    color: #fff;
    background-color: #9db1a5;
    border-radius: 15px;
    text-decoration: none;
    padding: 8px 17px 8px 45px;
}


.login a{
	background: url("..//img/svg-gllacy/entrance-white.svg") 17px 7px  no-repeat;
}

.basket a{
    background: url("..//img/svg-gllacy/basket.svg") 17px 7px  no-repeat;
}


.loupe a:hover{ 
	background-image: url("..//img/svg-gllacy/loupe-black.svg");
	background-position: center ;
	background-repeat: no-repeat;
}

.search a:hover{ 
	background: url("..//img/svg-gllacy/loupe-black.svg") 17px 7px no-repeat;
}

.login a:hover{ 
	background: url("..//img/svg-gllacy/entrance.svg") 17px 7px no-repeat;
}

.basket a:hover{ 
	background: url("..//img/svg-gllacy/basket-red.svg") 17px 7px no-repeat;
}


.basket a {
	display: block;
    font-weight: 500;
    color: #fff;
    background-color: #9db1a5;

    border-radius: 15px;
    text-decoration: none;
    padding: 8px 35px 8px 45px;
}


.mode{
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	font-weight: 700;
	margin: 0;
}

.mode span{
	display: block;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	padding-top: 5px;
}

.modal-search{
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 10;
    display: block; /*none*/
    width: 345px;
    max-height: 85px;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 3;
}

.input-search {
    font-size: 14px;
    line-height: 24px;
    box-sizing: border-box;
}



/*SLIDES*/
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("..//img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  /* Для демонстрации */
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("..//img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("..//img/slider-item3.png");
}

.slider {
  position: relative;
  
  padding-top: 321px; /*321px???*/
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}


.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top; /*for what?*/
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%,);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 55px; /*distance utill banners*/
  left: 0;
  bottom: 23px;
  z-index: 20;
  font-size: 0;
}


.visually-hidden { /*to hide the radiobuttons*/
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("..//img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("..//img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("..//img/slider-item3.png");
}

.slider-list{
	margin-bottom: 40px;
}

/*BANNERS*/
.banner-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*align-items: flex-start; */
	margin-bottom: 38px;
}

.banner{
	border-radius: 15px;
	padding: 20px 25px; /*with horizontal padding 25px the background moved ????*/
	width: 560px;
	/*min-height: 230px;*/ /*shouls I set the min-height???*/
}


.banner-left{
	margin:0;
	background-image: url(..//img/banner-left.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-right{
	background: url(..//img/banner-right.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left:25px;
}

.banner h3{
	font-size: 35px;
	margin-top: 0;
	margin-bottom: 25px;
	/*line-height: 41px;*/ /*with line-height the background is moving ???*/
}

.banner p{
	font-size: 18px;
	line-height: 22px;
	margin-top: 0;
	margin-bottom: 48px;
	/*font-weight: bold;*/
}

.banner .button{
	display: block;
	font-size: 18px;
	line-height: 24px;
	background-color: #f06541;
	border-radius: 25px;
	padding: 12px 20px;
	margin-left: auto;
	font-weight: bold;
	
}

.banner-left .button{
	width: 125px;
}

.banner-right .button{
	width: 150px;
}





/*HIT LIST*/
.hit-list-wrapper{
	display: -webkit-box; 
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom:40px; 
	min-height: 325px;
}


.hit-item-block:nth-of-type(4){
	margin-right: 0;
}

.hit-item-block{
	position: relative;
	width: 267px;
	}

.hit-preview{
	position: relative;
}

.hit-item-photo{
	width: 267px;
	max-height: 267px;
	margin-bottom: 15px;
}


.hit-item-photo img{
	width: 100%;
	border-radius: 50%;
}

.hit-item-photo::before{
	position: absolute;
	content: '';
	background-image: url("..//img/svg-gllacy/hit.svg");
	width: 61px;
    height: 61px;
	top: 0;
	left: 0;
	z-index: 2;
}

/*.hit-item-photo::after{
	position: absolute;
	content: '';
	width: 26px;
    height: 32px;
	top: 220;
	left: 82;
	z-index: 10;
}*/


.price{
	position: absolute;
	z-index: 3;
	font-size: 30;
	line-height: 45;
	margin: 0;
	text-shadow: 1px 1px 3px rgba(49,50,53,.5);
	display: block;
	margin: 0;
	padding: 0;
	width: 155px;
	height: 35px;
	font-size: 30px;
	line-height: 45px;
	top:217px;
	left:0;
}

.price span{
	font-size: 45px;
	line-height: 45px;
}	


.hit-item-name{
	display: inline-block;
	font-family: "Roboto medium", "Arial", sans-serif;
	text-align: center; 
	margin: 0;
	font-weight: normal;
	border-bottom: 1px solid #9db1a5; 
	cursor: pointer; 
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	z-index: 2;
	position: absolute;
}

.overlay{
	position: absolute;
    top: -10px;
    bottom: -75px;
    left: -10px;
    right: -10px;
    z-index: 2;
    display: none;
    padding: 7px 18px 19px 18px;
    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    box-sizing: border-box;
    width: 296px;
    max-height: 405px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.hit-item-name:hover{  /* !!!! doesnt work */
	color: #ffbc9e;
}


.hit-item-block:hover .overlay{ 
	display: block;
}

.overlay .index-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: inline-block;
    min-width: 195px;
    margin: 0;
    padding: 10px 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border-radius: 25px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.hit-item-block:hover{
	position: relative; 
	z-index: 10;
}



/*SEO*/
.seo{
	background-image: url("..//img/waffle.jpg");
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	padding:25px 20px;
	margin-bottom: 40px;
	border-radius: 15px;
}


.seo-container-flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.seo-caption{
    width: 100%;
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}


.seo-container-left,
.seo-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;;
    padding-left: 55px;
    box-sizing: border-box;
    width: 46.55%;
}


.seo-container-left p, 
.seo-container-right p {
	position: relative;
    margin: 0 0 20px;
}


.seo-container-left p:last-child, 
.seo-container-right p:last-child {
    margin: 0;
}


.technology::before,
.raw-materials::before,
.contractors::before,
.delivery::before{
	position: absolute;
    top: -15px;
    left: -55px;
    width: 50px;
    height: 50px;
    content: '';
}

.technology::before{
    background: url("..//img/svg-gllacy/ice-cream.svg");
    background-repeat: no-repeat;
}

.raw-materials::before{
    background: url("..//img/svg-gllacy/eco.svg");
    background-repeat: no-repeat;
}

.contractors::before{
    background: url("..//img/svg-gllacy/cow.svg");
    background-repeat: no-repeat;
}

.delivery::before{
    background: url("..//img/svg-gllacy/thermometer.svg");
    background-repeat: no-repeat;
}




.other-flex{
	display: flex;
	flex-direction: row;;
	justify-content: space-between;
	margin-bottom: 40px;

}


.blog{
    display: flex;
    flex-direction: column;
    width: 560px;
    padding: 23px 22px;
    border-radius: 15px;
    background-image: url("..//img/blog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 25px;
}


.blog h3{
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.blog a {
    display: inline-block;
    width: 300px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration:underline;
    color:#323232;
}

.other-link:hover,
.other-link:active{
	color: #e84d37;
	text-decoration: underline;
}

.subscription{
	display: flex;
    flex-direction: column;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: calc(46.6% * (100 / (100 - 2 * 2.3)));
    padding: 5px;
    background: url("..//img/svg-gllacy/bg-post.svg");
    background-size: cover;
    width: 560px;
    border-radius: 15px;
}

.subscription-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 210px;
    padding: 30px 20px;
    background-color: #f8f7f4;
    border-radius: 15px;
    box-sizing: border-box;
}


.subscription-inner p{
	color: #5a5a5a;
	font-size: 16px;
	line-height:22px;
	margin: 0;
}

.subscription-email{
	display: flex;
	flex-direction: row;
    margin-top: auto;
    margin-bottom: 3px;
}

.subscription-email label{
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.subscription-email input{
	    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    border-radius: 5px;
    border: 1px solid rgba(178,178,178,.52);
}


.subscription-email .button {
    padding: 10px 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}



/*

.subscription{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	background-image: url("..//img/svg-gllacy/bg-post.svg");
	background-size: cover;

}

.subscription-inner{
	display: flex;
	flex-direction: column;
	justify-content:;
	align-items: ;
	background-color: #f8f7f4;
	background-position: center;
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	padding: 30px 20px;
	border-radius: 15px;
	margin:5px;
}

.subscription-inner .text{
	margin-bottom: 20px;
}


.subscription-form{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	max-height: 45px;
}

.subscription-inner p{
	margin: 0;
}

.subscription-form .btn{
    padding: 10px 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}


.other-blog a{
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}


.other-subscription p{
	color:#5a5a5a;
	font-size: 16px;
	line-height: 20px;
}

.subscription-email{

}

.email-field input{
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #323232;
    border-radius: 5px;
    border: 1px solid rgba(178,178,178,.52);
}


*/






/*map*/
.map-container{
	position: relative;
	width: 1200px;
	max-height: 430px;
	margin: 0 auto;
}

.map-yandex{
	width: 100%;
	height: 430px;
}

.map-contacts{ 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 300px;
	height: 305px;
	box-sizing: border-box;
	background-color:#fffffe;
	border-radius: 15px;
	margin: 0;
	padding: 30px 25px;
	color: #323232;
	font-size: 14px;
    line-height: 20px;
	position: absolute;
	top:62px; 
	right: 2.5%;


}

.map-contacts-info p{
	margin: 0 0 20px 0;
}

.adress p{
	font-size: 14px;
    line-height: 20px;
}

.adress b{
    font-size: 18px;
    line-height: 24px;	
}

.telefon span{
	font-size: 14px;
    line-height: 20px;
}

.telefon b{
	font-size: 18px;
    line-height: 22px;
}

.telefon span:last-child{
	font-size: 14px;
    line-height: 22px;
}

.feedback-button{
    display: block;
    padding: 10px 26px;
    font-weight: 700;
    border-radius: 25px;
    font-size: 18px;
    line-height: 24px;
}

.location-icon{
	position: absolute;
	top: 139px;
	left:266px;
}


/*FOOTER*/
.main-footer-wrapper{
	min-height: 105px;
	padding: 0;
	display: flex;
	align-items: center;
}

.footer-social{
	width: 187px;
	max-height: 39px;
	margin: 0;	
	margin-right: 210px;
}


.footer-menu{
	width: 330px;
	max-height: 39px;
	margin: 0;	

}

.footer-copyright{
	width: 191px;
	min-height: 57px;
	margin: 0;
	margin-left: auto;;

}


.footer-social ul{
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	list-style: none;
  	padding: 0;
  	margin:0;
}

.footer-social ul li{
  	display: inline-block;
}


.social-button{
	display: inline-block;
	width: 32px;
	height: 32px;
	border: 3px solid #c2cec7;
	border-radius: 50%;
	opacity: 0.8;
}


.social-button:hover {
	opacity: 1;
}


.social-button:active,
.social-button:focus {
	background-color:#e9e9e9
	border-color: #dae2de;
}


.footer-menu-flex{
	display: flex;
	flex-wrap: wrap;
	padding:0;
	padding-left: 20px;
}

.footer-menu-flex a{
	font-size: 13px;
	line-height: 18px;
	text-decoration:none;
	font-weight: 400; /* ??? */
}

.menu-providers,
.menu-production{
	margin-left: 20px;
	margin: 0;
	width: 135px;
}

.menu-doc,
.menu-eco{
	margin-left: auto;
	margin: 0;
	width: 164px;
}

.menu-providers,
.menu-doc{
	margin-bottom: 5px;
}

.menu-providers{
	position: relative;
}

.heart::before{
	content: "";
	background: url("..//img/svg-gllacy/heart.svg") 50% 50% no-repeat;
	position: absolute;
    top: 2px;
    left: -21px;
    width: 15px;
    height: 13px;
}


.footer-menu a:hover,
.footer-menu a:active{
	color: #ffbc9e;
}


.footer-menu-flex span{
	border-bottom:1.2px solid #9db1a5; 
}

.footer-copyright p{
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}

/*.footer-social{
	list-style: none;
}


.footer-social li{
	display: inline-block;
}

.footer-menu{
	color: #ffffff;
	font-size: 13px;
	list-style: 18px;
}

.footer-menu .menu-left li,
.footer-menu .menu-right li{
	list-style: none;
}

.footer-menu ul{
	display: inline-block;
}


.footer-copyright{ /*можно прописать данные свойства в след селекторе*/
	color: #fefefe;
	font-size:12px;
	/*line-height: 18px;*/

}
.footer-copyright ul{
	list-style: none;
}




/*MODAL WINDOWS*/
.modal-overlay {  /*не работает*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}

.feedback-overlay{
	display: block;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal{
    position: fixed;
    display: none; /*block */
    background-color: #f8f7f4;
    border-radius: 7px;

}

/*Feedback modal window*/
.modal-feedback-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-feedback{
	box-sizing: border-box;
	width: 480px;
    max-height:442;
    margin-left: -215px;
    padding: 20px 26px 26px 26px;

    top: 100px; /* PhotoShops value- 337px; ????*/
    left: 50%;
    z-index: 20;

}

.feedback-form-box{
	width: 428px;
	max-height:357px;

}

.modal-login-form{
	margin: 0;
	padding: 0;
	width: 100%;
	max-height:357px;
}


.feedback-label{
	display: block;
	position: relative;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

.modal input{
	width: 100%;
	min-height: 44px;
	border-radius:5px;
	border:1px solid #d3d3d2;
	font-size: 16px;
	line-height: 24px;
	font-weight: 200; /*?*/
	color: #999999;
	margin-bottom: 22px;
	padding: 0 20px;
	width: 270px;
}

.modal-feedback h2{
	font-size: 24px;
	line-height: 28px;
	font-weight: 200; /*?*/
	color: #323232;
	margin: 0;
	margin-bottom: 25px;
}

.modal textarea{
	width: 430px;
	max-height: 155px;
	box-sizing: border-box;
	border-radius:5px;
	border:1px solid #d3d3d2;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	margin-bottom: 25px;
	padding:17px 20px;
	resize: none;
}


.modal-feedback-close {
	position: absolute;
  	top: 16px;
  	right: 16px;

  	width: 18px;
  	height: 18px;

  	font-size: 0;

  	border: 0;

  	cursor: pointer;

  	background-color: #f8f7f4;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
  content: "";

  position: absolute;
  top:8px;
  right: 0;

  width: 18px;
  height: 3px;

  background-color: #231f20;
}

.modal-feedback-close::before {
  transform: rotate(45deg);
}

.modal-feedback-close::after {
  transform: rotate(-45deg);
}

.feedback-submit{
	display: block;
	margin-left:290px;
	width:140px;
	max-height: 46px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700px;
	padding: 10px 33px 15px 25px;
	box-sizing: border-box;
}


.feedback-label input:hover,
.feedback-label textarea:hover{
  border: 2px solid #c7c6c5;
}

.feedback-label input:active,
.feedback-label textarea:active {
  border-color: 2px solid #8fbdec;
}

.modal-catalog{
	width:142px;
	height:auto;
}

.menu-catalog{
	list-style: none;
	color: #323232; /*!!!не работает стиль*/
}

.menu-catalog .catalog-article{
	color: #323232;
	font-weight: bold; /*!!!не работает стиль*/
	line-height: 16px;
}

