body{
	margin: 0px;
	padding: 0px;

	background-color:#849d8f;

	color: #ffffff;
	font-size: 16px; 
	line-height: 22px;
	font-family: "Roboto", Arial, sans-serif;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding:0 27px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active){
  	position: absolute;

  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	padding: 0;

  	border: 0;

  	white-space: nowrap;
  	-webkit-clip-path: inset(100%);
  	        clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

a{
	text-decoration: none;
	color: #ffffff;
}

img {
  	max-width: 100%;
  	height: auto;
}

.button{
	border: 0;
}

/*header*/
.main-header-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	    width: 100%;
	padding-top: 10px;    
}

.header-navigations-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;

	    width: 1146px;
	    max-height: 65px;
}

/*логотип*/
.logo{
	width: 154px;
	margin-right: 10px;
}

.main-menu{
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.main-menu a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700px;
}

/*подменю*/
.main-menu-list {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-wrap: wrap;

 	padding: 0;

}

.main-menu-list > li {
	position: relative;

	display: inline-block;
	vertical-align: middle;

	min-width: 55px;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	margin-top: 3px;

	list-style: none;	
}

.main-menu-list > li > a {
 	display: block;

 	max-height: 32px;
 	padding: 7px 13px;
 	-webkit-box-sizing: border-box;
 	        box-sizing: border-box;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;

 	border-radius: 17px;
 	border: none;
}

.main-menu-list span:not(.menu-current span){
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu-list > li:hover > a,
.main-menu-list > li:focus > a {
	max-height: 32px;
 	padding: 7px 13px;
 	-webkit-box-sizing: border-box;
 	        box-sizing: border-box;

 	background-color: #f7f6f3;

 	color: #000000;
}

.main-menu-list > li > a:active {
 	background-color: #ededed;
 	-webkit-box-shadow: inset 0 2px 1px #696969;
 	box-shadow: inset 0 2px 1px #696969;
}

.main-menu-list a:not([href]) {
 	background-color: #d07058;

 	cursor: pointer;
}

.sub-menu {
	display: none;

	position: absolute;
	top: 40px;
	left: -5px;
	z-index: 10;

	width: 143px;
	min-height: 172px;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	list-style: none;

	font-size: 14px;
	line-height: 16px;
	font-weight: normal;

	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-navigation-sub li > a {
    display: block;

    margin: 0;
    padding: 5px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;

    border: none;
}

.main-menu-list > li:hover .sub-menu {
	display: block;
}

.sub-menu > li{
	width: 100%;
	max-height: 33px;

	padding: 0;
}

.sub-menu li a {
	display: block;
	white-space: nowrap;

	max-height: 33px;
	padding: 10px 15px 10px 17px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	text-decoration: none;	
}

.sub-menu li:first-of-type {
 	position: relative;
}

.sub-menu li:nth-of-type(2) {
	padding-top: 5px;
}

.sub-menu li:first-of-type::after {
	position: absolute;
	content: "";
	display: block;
	right: 6px;
	left: 6px;
	height: 1px;

	background-color: rgba(53, 53, 53, 0.2);
}

.sub-menu a:hover,
.sub-menu a:focus {
	max-height: 33px;
	padding: 10px 15px 10px 17px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

 	background-color: #fbded7;
}

.main-menu-list .menu-current-page{ 
    background-color: #d07058;
}

.sub-menu li:first-of-type a:hover,
.sub-menu li:first-of-type a:focus {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sub-menu li:last-of-type a:hover,
.sub-menu li:last-of-type a:focus {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sub-menu a:active {
 	background-color: #f6b5a5;
}

.sub-menu li:first-of-type a:active {
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
}

.sub-menu li:last-of-type a:active {
 	border-bottom-left-radius: 5px;
 	border-bottom-right-radius: 5px;
}

.sub-menu a:not([href]) {
 	background-color: #d07058;
 	color: #ffffff;
}

/*user navigation*/
.user-menu{
	position: relative;
	z-index: 0;

	margin-left: auto;
}

.user-menu-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	margin: 0;
	padding:0 3px 7px 0;

	list-style: none;
}

.user-menu-list .btn{
	display: inline-block;
	vertical-align: middle;

	max-height: 32px;
	margin-left:10px;

	background-color: rgba(255,255,255,.2); 
	border-radius: 17px; 
	
}

.user-menu-list .btn:first-child{
	margin-left:0px;
}

/*users button*/
.search{
	position: relative;
	left:5px;
    z-index: 1;

	display: block;

	width: 32px;
	height: 32px;
	padding: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

	background-image: url("../img/svg-gllacy/loupe.svg");
	background-position: center ;
	background-repeat: no-repeat;
}

.login,
.basket{
    position: relative;
    left: 5px;
}

.basket{
	width: 118px;

}

.search,
.login a,
.basket a{
	display: block;

    background-color: rgba(255,255,255,.2);;
    border-radius: 15px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

.login a{
	padding: 8px 17px 8px 45px;
	width: 94px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	background: url("../img/svg-gllacy/entrance-white.svg") 17px 7px  no-repeat;
}

.basket a{
	padding: 8px 15px 8px 45px;

    background: url("../img/svg-gllacy/basket.svg") 17px 7px  no-repeat;   
}


.search:not([href]):hover{
	background: url("../img/svg-gllacy/loupe-black.svg") center no-repeat;
	background-color: #ffffff;

	cursor: pointer
}

.login a:not(.help-link):hover{
	color: black;

	background: url("../img/svg-gllacy/entrance.svg") 17px 7px no-repeat;
	background-color: white;
}

.basket > a:hover,
.basket .btn-basket-active {
	color: black;

	background: url("../img/svg-gllacy/basket-red.svg") 17px 7px no-repeat;
	background-color: white;
}

.mode{
	margin: 0;

	font-size: 14px;
	line-height: 16px;
	text-align: right;
	font-weight: 700;
}

.mode span{
	display: block;

	padding-top: 5px;

	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

/*вспылвающие окна*/
.window{
	padding:12px 15px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;

	        color:#323232;

	background-color: #f8f7f4;
	border:1px solid rgba(178,178,178,.52);
	border-radius:7px;
	-webkit-box-shadow:0 20px 20px rgba(0,0,0,.4);
	        box-shadow:0 20px 20px rgba(0,0,0,.4);
}

/*окно поиска*/
.search-wrapper{
	position: relative;

	margin: 0;
	padding-bottom: 15px;
}

.search a{ 
	font-size: 0;
}

.window-search{
	display:none;

	position:absolute;
	top:28px;
	right:-10px;
	z-index:10;

	width:345px;
	max-height: 85px;
	padding:20px 17px; 
	-webkit-box-sizing:border-box; 
	        box-sizing:border-box;

	background-color:#f8f7f4;
	border-radius:5px;
	-webkit-box-shadow:0 20px 20px rgba(0,0,0,.4);
	        box-shadow:0 20px 20px rgba(0,0,0,.4);
}

.search-wrapper:hover .window-search {
	display: block;
}

.window-search .input-search{
 	width:100%;
 	padding:10px 15px;
 	padding-bottom: 10px;
 	-webkit-box-sizing:border-box;
 	        box-sizing:border-box;

 	font-size:14px;
	line-height:24px;	
 	color:#323232;

 	border:1px solid rgba(178,178,178,.52);
 	border-radius:5px;
 }

 .window-search  input{
	font-size:14px;
	line-height:24px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box
}

 .window-search input:hover{
 	padding:10px 13px;

 	border:2px solid rgba(154,154,154,.52);
 }

.window-search input:focus{
	padding: 10px 13px;

	border: 2px solid #8fbdec;
}

/*окно входа*/
.login-wrapper {
	z-index: 0;

	margin: 0;
	padding-bottom: 5px;
}

.login-form {
	display: none;

	position: absolute;
	z-index: 1; 

	top: 37px;
	right: 0; 
	z-index: 10;

	width: 277px;
	min-height: 215px;
	padding: 20px 17px 22px 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	background-color: #f8f7f4;
	border-radius: 5px;
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-wrapper:hover .login-form {
	display: block;
}

.login-form input:not([type="submit"]) {
	width: 100%;
	max-height: 45px;
	margin-bottom: 20px; 
	padding:13px 15px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;

 	font-size:14px;
	line-height:24px;
	
	color:#000000;

 	border:1px solid rgba(178,178,178,.52);
 	border-radius:5px;
}

.login-form input:hover {
	padding: 13px 15px;

	border: 2px solid rgba(154,154,154,.52);
}

.login-form input:focus {
	padding: 13px 15px;

	border: 2px solid #8fbdec;
}

.login-form .entrance {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	width: 100%; 
	max-height: 45px;

	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
} 

.entrance .help-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal; 
	-ms-flex-direction: column; 
	flex-direction: column; 
	-webkit-box-pack: end; 
	    -ms-flex-pack: end; 
	        justify-content: flex-end;

	width: 120px;
}

.login-form input[type="submit"] {
	width: 100px;
	max-height: 45px;
	padding: 10px 20px;

	font-size: 18px; 
	line-height: 24px;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	
  	background: #f26843;
  	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	border-radius: 15px; 
  	border-radius: 50px;
  	border: none;

  	cursor: pointer;
}

.login-form input[type="submit"]:hover {
	font-size: 18px; 
	line-height: 24px;

	background-color: rgba(255, 255, 255, 0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
	background: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(top, #e74a35 0%, #f26843 100%);
	background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
	-webkit-box-shadow: 0 2px 2px rgb(172, 16, 0);
	        box-shadow: 0 2px 2px rgb(172, 16, 0)
}

.login-form input[type="submit"]:active {
	font-size: 18px; 
	line-height: 24px;

	background-color: rgba(0, 0, 0, 0.07);
	background: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
	background: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
	background: -o-linear-gradient(top, #e74a35 0%, #f26843 100%);
	background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
	-webkit-box-shadow: inset 0 2px 2px rgb(148, 39, 24);
	        box-shadow: inset 0 2px 2px rgb(148, 39, 24);
}

.login-form input[type="submit"]:focus {
	font-size: 18px; 
	line-height: 24px;
}

.login-form .entrance .help-wrapper a{
	display: inline-block;
	vertical-align: middle;

	width: 100%;
	padding: 0;
	margin: 0;

	font-size: 13px;
	line-height:24px;
	color:#323232;
	text-decoration: underline;	
}

.entrance .help-wrapper a:hover,
.login-form .entrance .help-wrapper a:active{
	color: #e84d37;
}

/*окно корзины*/
.basket-wrapper {
	position: relative;

	margin: 0;
	padding-bottom: 5px;
}

.basket-window{
	display: none;

    position: absolute;
    top: 40px;
    right: 0;
    z-index: 50;

    
    width: 540px;
    min-height:242px;
    padding: 17px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;  

    background-color: #f8f7f4;
    border-radius: 5px;
}

.basket-wrapper:hover .basket-window {
	display: block;
}

.basket-window-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 100%;
}

.basket-list-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	width: 100%;
	min-height: 112px;
	margin-bottom: 15px;

	border-bottom: 1px solid #cacac7;
}

.basket-item{
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	
	-webkit-box-align: center;
	
	    -ms-flex-align: center;
	
	        align-items: center;

	width: 100%;
	min-height: 42px;

	font-size: 13px;
	line-height:16px;
	font-weight: 200;
	color: #000000;
}


.basket-item-delete{
	position: relative;

	width: 12px;
	padding-right: 15px;
}

.basket-item-delete a{
	padding: 0;
	margin: 0;

	font-size: 0;
}

.delete::before,
.delete::after {
  	content: "";

  	position: absolute;
  	top:7px;
  	left: 0;

  	width: 12px;
  	height: 1px;

  	background-color: #231f20;

  	font-size: 0;
}

.basket-item-delete .delete::before {
  	-webkit-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	        transform: rotate(45deg);
}

.basket-item-delete .delete::after {
  	-webkit-transform: rotate(-45deg);
  	    -ms-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
}

.basket-item-photo{
	width: 33px;
	margin-right: 10px;
}

.basket-item-photo img{
	border-radius: 50%;
}

.basket-item-name{
	width: 220px;
	min-height: 35px;
	padding: 0;
	margin:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.basket-item-name p{
	vertical-align: middle;
}

.item-weight{
	min-width: 33px;
	margin-left: auto;
	margin-left: 20px;
}

.basket-list-flex span{
	margin: 0 5px;
}

.item-price-kg{
	display: inline-block;
	vertical-align: middle;

	color: #b5b5b4;
	text-align: right;
}

.item-price-total{
	min-width: 50px;
	margin-left: 30px;
}

/*2nd block*/
.list-price-total{
	min-width: 106px;
	max-height:18px;
	margin-left:auto;
	margin-bottom: 15px;

	font-size: 15px;
	line-height:18px;
	color:#000000;
}

.list-price-total p{
	margin: 0;
}

/*3rd block*/
.basket-checkout-button{
	margin-left: auto;
}

.basket-checkout-button input{
	width: 170px;
	max-height: 45px;
	padding: 13px 15px 17px 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color:#ffffff;
}

/*SLIDES*/
.site-wrapper {
  	min-width: 940px;

  	background-color: #849d8f;
  	background-image: url("../img/slider-item1.png");
  	background-repeat: no-repeat;
  	background-position: top center;
  	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
  	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  	content: "";

	visibility: hidden;
}

.site-wrapper::before {
 	 background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  	background-image: url("../img/slider-item3.png");
}

.slider {
 	position: relative;

 	margin-top: 270px;

 	text-align: center;
  	color: #ffffff;
}

.slider-list {
 	margin: 0;
  	padding: 0;

  	list-style: none;
}

.slide-title {
  	width: 700px;
  	margin: 0 auto;
  	margin-bottom: 32px;

  	font-size: 60px;
  	line-height: 60px;
  	font-weight: 800;
}


.button {
  	display: inline-block;
  	vertical-align: middle;

  	padding: 12px 44px;

  	font-size: 31px;
  	line-height: 41px;
  	font-weight: 600;
  	text-align: center;
  	color: #ffffff;
  	vertical-align: top;
  	text-decoration: none;
  	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  	background: #f26843;
  	background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  	border-radius: 50px;
  	border: none;

  	cursor: pointer;
}

.button:hover {
  	background: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  	background: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  	background: -o-linear-gradient(top, #e74a35 0%, #f26843 100%);
  	background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
 	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
 	        box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
 	background: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
 	background: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
 	background: -o-linear-gradient(top, #e74a35 0%, #f26843 100%);
 	background: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
 	-webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
 	        box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
 	display: inline-block;
 	vertical-align: middle;

 	width: 17px;
 	height: 17px;
 	margin-right: 8px;

 	vertical-align: top;

 	background-color: transparent;
 	border: 2px solid #ffffff;
  	border-radius: 50%;

  	cursor: pointer;
}

.slider-controls {
  	position: absolute;
  	left: 0;
  	bottom: 23px;
  	z-index: 20;
  	
	font-size: 0;
}

.visually-hidden {
  	position: absolute;

  	width: 1px;
  	height: 1px;

  	clip: rect(0, 0, 0, 0);
}

.slide {
  	display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
 	display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
 	background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  	background-color: #849d8f;
  	background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
 	background-color: #8996a6;
 	background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
 	 background-color: #9d8b84;
 	background-image: url("../img/slider-item3.png");
}

.slider-list{
	margin-bottom: 40px;
}

.slider-controls label:hover {
    background-color: rgba(255,255,255,.4);
}

/*BANNERS*/
.banner-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	margin-bottom: 40px;
}

.banner{
	width: 558px;
	min-height: 227px;
	padding: 15px 20px 20px 20px; 
	-webkit-box-sizing: border-box; 
	        box-sizing: border-box;

	border-radius: 15px;
}


.banner-left{
	margin:0;

	background-image: url(../img/banner-left.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-right{
	margin-left:28px;

	background: url(../img/banner-right.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.banner h3{
	display: inline-block;
	vertical-align: middle;

	margin-top: 0;
	margin-bottom: 15px;

	font-size: 35px;
	line-height: 41px;
}

.banner p{
	margin-top: 0;
	margin-bottom: 43px;

	font-size: 18px;
	line-height: 22px;
}

.banner .button{
	display: block;

	max-height: 47px;
	margin-left: auto;
	padding: 12px 20px;

	font-size: 18px;
	line-height: 24px;

	background-color: #f06541;
	border-radius: 25px;


	font-weight: bold;
}

.banner-left .button{
	width: 165px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.banner-right .button{
	width: 188px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/*item LIST*/
.list-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
  
	padding: 0;
	margin: 0;	
}

.list-wrapper-hit{

}

.list-wrapper-all{
	margin-bottom: 42px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.item-block:nth-of-type(4){
	margin-right: 0;
}

.item-block{
	position: relative;

	width: 267px;
	min-height: 325px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-bottom: 37px;
}

.preview{
	position: relative;
}

.item-photo,
.hit-item-photo{
	width: 267px;
	max-height: 267px;
	margin-bottom: 10px;
}

.item-photo img{
	width: 100%;
	border-radius: 50%;
}

.hit-item-photo::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	z-index: 2;

	width: 61px;
    height: 61px;

	background-image: url("../img/svg-gllacy/hit.svg");
}

.list-wrapper .item-photo::after{
	position: absolute;
	content: '';
	top: 217px;
	left: 80px;
	z-index: 2;

	width: 28px;
	height: 34px;

	background: url("../img/svg-gllacy/ruble.svg") center no-repeat;

}

.list-wrapper-all .price{
	position: absolute;
	top:205px;
	left:0;
	z-index: 3;

	max-height: 45px;

	padding: 0;
	margin: 0;

	font-size: 30px;
	line-height: 45px;
	text-shadow: 1px 1px 3px rgba(49,50,53,.5);
}

.list-wrapper .price{
	position: absolute;
	top:210px;
	left:0;
	z-index: 3;

	max-height: 45px;

	padding: 0;
	margin: 0;

	font-size: 30px;
	line-height: 45px;
	text-shadow: 1px 1px 3px rgba(49,50,53,.5);
}

.list-wrapper .price  span{
	display: inline-block;
	vertical-align: bottom;

	width: 107px;

	margin: 0;
	padding: 0;

	font-size: 45px;
	line-height: 45px;
}


.list-wrapper .item-name{
	position: absolute;
	z-index: 3;

	display: inline-block;
	vertical-align: middle;

	max-width: 260px;
	margin: 0;

	text-align: center;
	
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	text-decoration: underline;
	
	cursor: pointer;
}

.overlay{
	position: absolute;
    top: -10px;
    bottom: -75px;
    left: -10px;
    right: -10px;
    z-index: 2;

    display: none;

    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    background-color: rgba(255,255,255,.2);
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.item-name:hover{ 
	color: #ffbc9e;
}


.item-block:hover .overlay{
	display: block;
}

.overlay .index-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;

    display: inline-block;
    vertical-align: middle;

    min-width: 195px;
    margin: 0;
    padding: 10px 3px;

    
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 25px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

.item-block:hover{
	position: relative;
	z-index: 10;
}

/*SEO*/
.seo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;        

	width: 100%;
	max-height:310px;
	padding:25px 20px;
	margin-bottom: 38px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 16px;
	line-height: 22px;
	color: #323232;	

	background-image: url("../img/waffle.jpg");
	border-radius: 15px;
}

.seo-caption{
	display: block;

    width: 100%;
    max-height: 60px;
    margin: 0 0 22px;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}


.seo-container-left,
.seo-container-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;

    width: 542px;
    min-height: 190px;
    padding-left: 58px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.seo-container-left,
.seo-container-right{	
	width: 543px;
	max-height: 73px;

	font-size: 16px;
	line-height: 22px;
	font-weight: 200;
}

.seo-container-left p,
.seo-container-right p{
	position: relative;

	margin: 0;
}

.seo-container-left .technology {
    margin-bottom:22px;
}


.seo-container-right .contractors {
    margin-bottom:22px;
}

.technology::before,
.raw-materials::before{
	position: absolute;
	content: '';
    top: -13px;
    left: -55px;

    width: 50px;
    height: 50px;
}

.contractors::before,
.delivery::before{
	position: absolute;
	content: '';
    top: -13px;
    left: -55px;

    width: 50px;
    height: 50px;
}

.technology::before{
    background: url("../img/svg-gllacy/ice-cream.svg");
    background-repeat: no-repeat;
}

.raw-materials::before{
    background: url("../img/svg-gllacy/eco.svg");
    background-repeat: no-repeat;
}

.contractors::before{
    background: url("../img/svg-gllacy/cow.svg");
    background-repeat: no-repeat;
}

.delivery::before{
    background: url("../img/svg-gllacy/thermometer.svg");
    background-repeat: no-repeat;
}

.other-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;;
	-webkit-box-pack: justify;;
	    -ms-flex-pack: justify;;
	        justify-content: space-between;

	margin-bottom: 40px;
}

.blog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 560px;
    padding: 21px 21px;
    margin-right: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    
    background-image: url("../img/blog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}

.blog h3{
    margin: 0 0 5px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog a {
    display: inline-block;
    vertical-align: middle;

    width: 282px;
    max-height: 84px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color:#323232;
    text-decoration:underline;
}

.other{
	width: 560px;
	max-height: 222px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.other-link:hover,
.other-link:active{
	color: #e84d37;
	text-decoration: underline;
}

.subscription{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
    align-self: flex-start;

    width: 560px;
    padding: 5px;

    background: url("../img/svg-gllacy/bg-post.svg");
    /*background-size: cover;*/
    border-radius: 15px;
}

.subscription-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    min-height: 210px;
    padding: 28px 20px 32px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    background-color: #f8f7f4;
    border-radius: 15px;
}

.subscription-inner p{
	margin: 0;

	font-size: 16px;
	line-height:22px;
	color: #5a5a5a;
}

.subscription-email{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;

    margin-top: auto;
    margin-bottom: 5px;
}

.subscription-email label{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.subscription-email input{
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    max-width: 365px;
    max-height: 45px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;


    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #323232;

    border-radius: 5px;
    border: 1px solid rgba(178,178,178,.52);
}

.subscription input:hover{
	max-height: 45px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

	border: 2px solid rgba(154,154,154,.52);
}

.subscription input:active,
.subscription input:focus{
	max-height: 45px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

	border: 2px solid #8fbdec;
}

.subscription-email .button {
	width: 128px;
    padding: 10px 16px;
    margin-left: 20px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 25px;
    border: none;

    cursor: pointer;
}


/*map*/
.map{ 
	position: relative;

  	overflow-x: hidden;

  	width: 1200px;
  	max-height: 430px;
	margin: 0 auto;
	padding: 0;

	overflow: hidden;
}

.map-photo{
	position: absolute;
}

.map-link{
	position: relative;

	width: 1200px;
	height: 430px;
}

.map-contacts{
	position: absolute;
	top:62px;
	right: 27px;

	background-color:#fffffe;
	border-radius: 15px;

	color: #323232;
	font-size: 14px;
  	line-height: 20px;
}

.map-contacts-flex{
	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;

	width: 300px;
	height: 305px;
	margin: 0;
	padding: 28px 25px 33px 25px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;        
}

.map-contacts-flex p{
	margin:0;
	padding: 0;
}

.map-contacts-adress{
	max-width: 250px;
	margin: 0;
	margin-bottom: 18px;
}

.map-contacts-adress span{
    font-size: 18px;
    line-height: 24px;
}

.map-contacts-telefon{
	max-width: 250px;
	margin: 0;
	margin-bottom: 20px;
}

.map-contacts-telefon .tel {
	font-size: 18px;
    line-height: 22px;
}

.map-contacts-telefon span {
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 5px;
}

.map-contacts-button{
	max-width: 250px;
	margin: 0;
}

.feedback-button{
    display: block;

    width: 250px;
    max-height: 45px;
    padding: 10px 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 25px;
}

.location-icon{
	position: absolute;
	top: 139px;
	left:266px;
} 

/*FOOTER*/
.main-footer{
	min-height: 57px;
	padding-top: 15px;
	padding-bottom: 26px;
}

.main-footer-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	max-height: 57px;
	padding: 0;
}

.footer-menu{
	width: 330px;
	min-height: 39px;
	margin: 0;
	margin-left: 105px;
}

.footer-copyright{
	width: 191px;
	min-height: 57px;
	padding-top:15px;
	margin: 0;
	margin-left: auto;;
}

.footer-social {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;

 	width: 267px;
 	margin: 0;
	margin-right: 26px;
 	padding: 0;
 	padding-top: 16px;

 	list-style: none;
}

.footer-inner .footer-social {
 	margin-top: 20px;
}

.social-button {
 	display: block;
 	width: 32px;
 	height: 32px;
 	margin-right: 11px;

 	border: 3px solid rgba(255, 255, 255, 0.5);
 	border-radius: 50%;
 	opacity: 0.8;
}

.social-button:hover,
.social-button:focus {
 	border: 3px solid rgba(255, 255, 255, 0.7);

 	opacity: 1;
}

.social-button:active {
 	border: 3px solid rgba(255, 255, 255, 0.7);

 	opacity: 0.6;
}

.button-tw {
 	background-image: url("../img/svg-gllacy/twitter.svg");
 	background-repeat: no-repeat;
}

.button-inst {
 	background-image: url("../img/svg-gllacy/instagram.svg");
 	background-repeat: no-repeat;
}

.button-face {
 	background-image: url("../img/svg-gllacy/fb.svg");
 	background-repeat: no-repeat;
}

.button-vk {
 	background-image: url("../img/svg-gllacy/vk.svg");
 	background-repeat: no-repeat;
}

.footer-menu-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;   

	padding:0;
	padding-top: 20px;
	padding-left: 25px;
}

.footer-menu-flex a{
	font-size: 13px;
	line-height: 18px;
	font-weight: 400; 
	text-decoration:none;
}

.menu-providers,
.menu-production{
	width: 141px;
	margin-left: 20px;
	margin: 0;
}

.menu-doc,
.menu-eco{
	width: 164px;
	margin-left: auto;
	margin: 0;
}

.menu-providers,
.menu-doc{
	margin-bottom: 5px;
}

.menu-providers{
	position: relative;
}

.heart::before{
	position: absolute;
	content: "";
    top: 2px;
    left: -21px;
    width: 15px;
    height: 13px;

	background: url("../img/svg-gllacy/heart.svg") 50% 50% no-repeat;
}

.page-title{
	font-size: 35px;
	line-height:41px;
	padding: 0;
	margin: 0;
	margin-bottom: 28px;
}

.footer-menu a:hover,
.footer-menu a:active,
.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
}

.footer-menu-flex span{
	border-bottom:1.2px solid #9db1a5;
}

.footer-copyright{
	display: block;

	padding-top: 5px; 
	margin-left: auto;
}

.footer-copyright p{
	margin: 0;

	font-size: 12px;
	line-height: 18px;
}

.footer-copyright{ 
	color: #fefefe;
	font-size:12px;
	line-height: 18px;

}
.footer-copyright ul{
	list-style: none;
}

/*MODAL WINDOWS*/
.pre-form {
    display: none;

    position: fixed;
    top: 0;
    z-index: 20;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);   
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
	0%,
	100% {
	    -webkit-transform: translateX(0);
	            transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
	    -webkit-transform: translateX(-10px);
	            transform: translateX(-10px);
	  }

	20%,
	40%,
	60%,
	80% {
	    -webkit-transform: translateX(10px);
	            transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
	    -webkit-transform: translateX(0);
	            transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
	    -webkit-transform: translateX(-10px);
	            transform: translateX(-10px);
	  }

	20%,
	40%,
	60%,
	80% {
	    -webkit-transform: translateX(10px);
	            transform: translateX(10px);
	}
}

.modal{
	display: none;

    position: fixed;

    background-color: #f8f7f4;
    border-radius: 7px;
}

/*Feedback modal window*/
.modal-feedback-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-feedback-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-feedback{
	top: 100px; 
    left: 50%;
    z-index: 20;

	
	width: 480px;
    max-height:442;
    margin-left: -215px;
    padding: 20px 26px 26px 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.feedback-form-box{
	width: 428px;
	max-height:357px;
}

.modal-login-form{
	margin: 0;
	padding: 0;
	width: 100%;
	max-height:357px;
}

.feedback-label{
	position: relative;

	display: block;
	
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

.modal input{
	width: 270px;
	min-height: 44px;
	margin-bottom: 22px;
	padding: 13px 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 16px;
	line-height: 24px;
	font-weight: 200;
	color: #999999;	

	border-radius:5px;
	border:1px solid #d3d3d2;
}

.modal-feedback h2{
	margin: 0;
	margin-bottom: 25px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 200; 
	color: #323232;
}

.modal textarea{
	width: 430px;
	height: 155px;
	margin-bottom: 25px;
	padding:13px 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	border-radius:5px;
	border:1px solid #d3d3d2;
	font-size: 16px;
	line-height: 24px;
	color: #999999;

	resize: none;
}


.modal-feedback-close {
	position: absolute;
  	top: 16px;
  	right: 16px;

  	width: 18px;
  	height: 18px;

  	font-size: 0;

  	border: 0;

  	background-color: #f8f7f4;

  	cursor: pointer;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
  	position: absolute;
  	top:8px;
  	right: 0;

  	content: "";

  	width: 18px;
  	height: 3px;

  	background-color: #231f20;
}

.modal-feedback-close::before {
  	-webkit-transform: rotate(45deg);
  	    -ms-transform: rotate(45deg);
  	        transform: rotate(45deg);
}

.modal-feedback-close::after {
  	-webkit-transform: rotate(-45deg);
  	    -ms-transform: rotate(-45deg);
  	        transform: rotate(-45deg);
}

.feedback-submit{
	display: block;

	width:140px;
	max-height: 46px;
	padding: 10px 33px 15px 25px;
	margin-left:290px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	font-size: 18px;
	line-height: 24px;
	font-weight: 700px;
}


.feedback-label input:hover,
.feedback-label textarea:hover{
	padding: 13px 15px;

  	border: 1px solid #c7c6c5;
}

.feedback-label input:focus,
.feedback-label textarea:focus {
	padding: 13px 15px;
  	border-color: 2px solid #8fbdec;
}

/*каталог - активня кнопка*/
.menu-current {  
	margin: 0;
    padding: 7px 13px;
    background-color: #d07058;
    border: none;
    border-radius: 20px;
}

.user-menu .btn-basket-active{ 
	width: 118px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	color:#000000;

	background: url("../img/svg-gllacy/basket-red.svg") 17px 7px no-repeat;
	background-color: white;
}

.site-wrapper-catalog {
  	min-width: 940px;

  	background-color: #849d8f;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    margin-top: -20px;
    padding: 0;

    font-size: 14px;
    line-height: 16px;
    color: #fff;
    list-style: none;
}

.breadcrumbs li{
	position: relative;

	display: inline-block;
	vertical-align: bottom;

	margin-right: 18px;
	padding-top: 2px;
}


.breadcrumbs li:not(:last-of-type)::after {
	position: absolute;
	top: 1px;
	right: -15px; 

	content: "»";
}

.breadcrumbs a{
	font-size: 14px;
	font-weight: 16px;
	font-weight: 200px;
	color: #ffffff;
	list-style: none;
}

/*Фильтры*/
.filters {
 	margin-bottom: 37px;
}

.filters-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.filters-form fieldset {
	margin: 0;
	padding: 0;

	border: none;
}

.filters-form label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

/*Фильтр по сортировке*/
.filters-form .filter-sorting {
	width: 195px;
	margin-bottom: 17px;
	margin-right: 15px;
}


.filter-sorting legend {
	margin: 0;
	margin-bottom: 6px;
	padding: 0;
	padding-left: 15px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.select {
 	position: relative;
}

select::-ms-expand { 
	display: none; 
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;

	height: 36px;
	padding: 0 32px 3px 15px;
	box-sizing: border-box;

	font: inherit;
	font-size: 16px;
	line-height: 35px;
	font-weight: 500;
	color: #fFFFff;
	

	border: none;
	border-radius: 20px;
	
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url("../img/svg-gllacy/icon-down-white.svg");
	background-repeat: no-repeat;
	background-position: 169px 12px;

	cursor: pointer;

	appearance: none;
}

select:hover {
	color: #000000;

	background-color: rgba(255, 255, 255, 1);
	background-image: url("../img/svg-gllacy/icon-down-dir.svg");
	background-position: 169px 12px;
}

option {
 	color: #000;
}

/*Фильтр по цене*/
fieldset.filter-range {
	width: 220px;
	margin-bottom: 17px;
	margin-right: 15px;
}

.filter-range legend {
	margin: 0;
	margin-bottom: 6px;
	padding: 0;
	padding-left: 15px;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

	white-space: nowrap;
}

fieldset.filter-range input.price-min,
fieldset.filter-range input.price-max {
	width: 25px;
	margin: 0;
	padding: 0 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;

	background-color: #849d8f;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}

.range-controls {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;

	margin-top: 0;

	background-color: rgba(255, 255, 255, 0.2);
	
	padding: 16px 20px;
	border-radius: 20px;
}

.range-controls .scale {
 	height: 4px;

 	background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
 	margin-left: 10%;
 	width: 60%;
 	height: 4px;

 	background: #ffffff;
}

.toggle {
 	position: absolute;
 	top: 7px;
 	width: 4px;
 	height: 4px;
 	background: #ababab;
 	border: 8px solid #ffffff;
 	border-radius: 50%;
 	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
 	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
 	cursor: pointer;
}

.toggle:hover {
 	background: #1c4f80;
}

.min-toggle {
 	left: 15%;
}

.max-toggle {
 	left: 60%;
}

/*фильтр по жирности*/
.filter-fat {
 	margin-bottom: 17px;
}

.filter-fat legend {
 	margin: 0;
 	margin-bottom: 6px;
 	padding: 0;
 	padding-left: 15px;
 	font-size: 14px;
 	line-height: 16px;
 	font-weight: 500;
}

.filter-fat p {
	width: 415px;
	margin: 0;
	padding: 6px 15px;
	-webkit-box-sizing: border-box;
		box-sizing: border-box;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

input[type="radio"] {
 	display: none;
}

input[type="radio"] + label {
 	margin-right: 14px;

 	vertical-align: middle;

 	cursor: pointer;
}


input[type="radio"] + label:last-of-type {
 	margin-right: 0;
}

input[type="radio"] + label::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	content: "";
	display: inline-block;

	width: 22px;
	height: 22px;
	margin-right: 9px;

	background-image: url("../img/svg-gllacy/radio-off-norm.svg");
	background-repeat: no-repeat;

	vertical-align: middle;
	background-size: cover;
}

input[type="radio"]:hover + label::before {
	background-image: url("../img/svg-gllacy/radio-off-hover.svg");
	background-repeat: no-repeat; 
	vertical-align: middle;
	background-size: cover;
}

input[type="radio"]:checked + label::before {
	background-image: url("../img/svg-gllacy/radio-on-norm.svg");
	background-repeat: no-repeat;
}

input[type="radio"]:checked:hover + label::before {
	background-image: url("../img/svg-gllacy/radio-on-hover.svg");
	background-repeat: no-repeat;
}

input[type="radio"]:disabled + label::before {
	background-image: url("../img/svg-gllacy/radio-off-dis.svg");
	background-repeat: no-repeat;
}

/*фильтр по наполнителям*/
.filter-fill legend {
	margin: 0;
	margin-bottom: 6px;
	padding: 0;
	padding-left: 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.filter-fill p {
	margin: 0;
	width: 700px;
	height: 36px;
	padding: 6px 15px 6px 15px;
	padding-left: 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

input[type="checkbox"] {
 	display: none;
}

input[type="checkbox"] + label {
	position: relative;

	margin-right: 16px;
	padding-left:32px;
	vertical-align: middle;
	cursor: pointer;
}

input[type="checkbox"] + label:last-of-type {
 	margin-right: 0;
}

input[type="checkbox"] + label::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	content: "";
	display: inline-block;

	position: absolute;
    top: 0;
    left: 0;

	width: 20px;
	height:20px;

	background-image: url("../img/svg-gllacy/checkbox-off.svg");
	background-repeat: no-repeat;
	
	vertical-align: middle;
	background-size: cover;
	opacity: 0.8;
}

input[type="checkbox"]:hover + label::before {
 	background-image: url("../img/svg-gllacy/checkbox-off.svg");
 	background-repeat: no-repeat;
 	opacity: 1;
}

input[type="checkbox"]:checked + label::before {
	position: absolute;

    top: 0;
    left: -1px;

	width: 24px;
    height: 20px;

	background-image: url("../img/svg-gllacy/checkbox-on.svg");
	background-repeat: no-repeat;
	opacity: 1;
}

input[type="checkbox"]:disabled + label::before {
	background-image: url("../img/svg-gllacy/checkbox-off.svg");
	background-repeat: no-repeat;
	opacity: 0.4;

	cursor: default;
}

.filter-button {
    display: inline-block;
    vertical-align: top;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-item-align: end;
    align-self: flex-end;

    padding: 7px 28px;
    margin-left: 15px;
    height: 36px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    white-space: normal;
    color: #ffffff;

    background-color: rgba(255,255,255,.19);
    
    -webkit-box-shadow: none;
    
            box-shadow: none;
    border: 2px solid #fff;
    border-radius: 18px;
    cursor: pointer;
    outline: none;
}

.filter-button:hover {
	padding:7px 30px 11px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
	
	font-size: 16px;
	line-height:18px;
    color: #000000;

    background-color: #fbfcfb;
}

.filter-button:active {
    color: #000000;

    background-color: #fbfcfb;
    -webkit-box-shadow: inset 0 2px 1px #696969;
            box-shadow: inset 0 2px 1px #696969;
}

/*Пагинатор*/
.paginator{ 
	width: 100%;
	padding:0 -27px;
	padding-bottom: 30px;

	border-bottom: 1px solid rgba(255,255,255,.3);
}

.paginator-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 190px;
    padding: 0;
    margin: 0;
    margin-left: auto;

    list-style: none;
}

.paginator-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 25px;
    height: 25px;

    color: #ffffff;

    border-radius: 50%;
}

.paginator-list .next, 
.paginator-list .prev {
    width: 16px;
    height: 25px;

    font-size: 0;

    background: url("../img/svg-gllacy/icon-right-small.svg") center no-repeat;
}

.paginator-list .prev {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    opacity: 0.2;
}

.paginator-list .next:hover,
.paginator-list .prev:hover{
	background-color:transparent;
}

.paginator-list a:active,
.paginator-list .current-page a{
	color:#000000;
	background-color:#ffffff;
}

.paginator-list a:hover,
.paginator-list .current-page a:hover {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .2);
	color:#ffffff;
}

/*Стили для placeholder*/
input[type=email]::focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=text]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
	font-size:0
}

input[type=email]:focus:-ms-input-placeholder,
input[type=password]:focus:-ms-input-placeholder,
input[type=text]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{
	font-size:0;
}

input[type=email]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=text]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
	font-size:0;
}

input[type=email]:focus::-ms-input-placeholder,
input[type=password]:focus::-ms-input-placeholder,
input[type=text]:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder{
	font-size:0;
}

input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=text]:focus::placeholder,
textarea:focus::placeholder{
	font-size:0;
}

input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	color:#999;
	font-size:14px;
	line-height:24px;
	font-weight:400;
}

input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
textarea:-ms-input-placeholder{
	color:#999;
	font-size:14px;
	line-height:24px;
	font-weight:400;
}

input[type=email]::-ms-input-placeholder,
input[type=password]::-ms-input-placeholder,
input[type=text]::-ms-input-placeholder,
textarea::-ms-input-placeholder{
	color:#999;
	font-size:14px;
	line-height:24px;
	font-weight:400;
}

input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=text]::placeholder,
textarea::placeholder{
	color:#999;
	font-size:14px;
	line-height:24px;
	font-weight:400;
}